body {
  background-color: #ffffff;
}

.child {
  color: #000000;
}

#calculator {
  white-space: nowrap;
}

.child {
  display: inline-block;
}


#calcButton {
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  padding:7px 5px;
  text-decoration:none;
}
#calcButton:hover {
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color:#5cbf2a;
}
#calcButton:active {
  position:relative;
  top:1px;
}

.themeButton {
  background-color:#45bec7;
  border:1px solid #45bec7;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding:16px 16px;
  text-decoration:none;
  text-shadow:0px 3px 2px #a3a3a3; 
}

.themeButton:hover {
  background-color:#459ec7;
}

.themeButton:active {
  top:1px;
}

.outer {
  position: absolute;
  right: 0px;
  transform: translateY(49vh);
}
